@mixin h2__styles ($text-align: start, $font-size: 2.4rem) {
  font-size: $font-size;
  font-weight: 600;
  line-height: 120%;
}

@mixin text__styles ($text-align: start, $font-size: 1.4rem) {
  font-size: $font-size;
  font-weight: 400;
  line-height: 160%;
  margin: 20px 0px;
}

@mixin button1($width: 30%, $padding: 18px 20px, $font-size: 1rem) {
  background-color: $btnColor;
  width: $width;
  padding: $padding;
  justify-content: center;
  align-items: center;
  border-radius: $borderRadius;
  color: $textColor;
  transition: $transitionDuration;

  .button__content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $textColor;
    font-weight: 600;
    font-size: $font-size;

    img {
      margin-right: 10px;
    }
  }

  &:hover {
    background-color: $btnHoverColor;
  }
}

@mixin button2($width: 30%, $padding: 18px 20px, $font-size: 1rem) {
  font-size: $font-size;
  width: $width;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $borderRadius;
  padding: $padding;
  border: 2px solid $btnColor;
  background-color: transparent;
  color: $textColor;

  img {
    margin-right: 10px;
  }
}

@mixin button3 ($width: 30%, $padding: 18px 20px, $font-size: 1rem) {
  background-color: $textColor;
  width: $width;
  padding: $padding;
  justify-content: center;
  align-items: center;
  border-radius: $borderRadius;
  color: $textBlack;
  transition: $transitionDuration;

  .button__content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: $font-size;
    img {
      margin-right: 20px;
    }
  }

  &:hover {
    background-color: $whitebthHover;
  }
}