.header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: $ui-index-2;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 1.25rem 0;

  &__nav {
    width: 40%;

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    &__link__item {
      color: $textColor;
      font-weight: 600;
      text-align: center;
    }
  }

  &__button {
    @include button1(100px)
  }

}


@include desktop() {
  .header {
    width: 1000px;

    &__nav {
      display: none;
    }
  }
}

@include tablet() {
  .header {
    width: 700px;

    &__logo {
      margin-left: 30px;

      img {
        width: 65%;
      }
    }
  }
}

@include mobile() {
  .header {
    width: 375px;
  }
}