.header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: $ui-index-2;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 1.25rem 0;

  

  .burger__menu {
    display: none;
  }

  &__nav {
    width: 40%;

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    &__link__item {
      color: $textColor;
      font-weight: 600;
      text-align: center;
    }
  }

  &__button {
    @include button1($width: 150px);
  }
}


@include desktop() {
  .header {
    width: 1000px;


    &__nav {
      width: 50%;

      &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

      }

      &__link__item {
        color: $textColor;
        font-weight: 600;
        text-align: center;
      }
    }

    &__button {
      @include button1(150px, 12px, .9rem);
    }
  }

}

@include tablet() {
  .header {
    width: 750px;

    .burger__menu {
      display: block;
      margin-right: 10px;
      cursor: pointer;
    }

    &__nav {
      display: none;
    }

    &__logo {
      margin-left: 10px;

      img {
        width: 65%;
      }
    }
  }
}

@include mobile() {
  .header {
    width: 375px;

    &__nav {
      display: none;
    }
  }
}