@import './variables';
@import './mixins/mixin';
@import './reset/reset';
@import './media_breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


body {
  background: $bodyBgColor;
  color: $textColor;
  font-family: 'Work Sans', sans-serif;
  // font-family: 'Space Mono', monospace;
}

@import './header/header';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


@include desktop() {
  .wrapper {
    width: 1000px;
  }
}

@include tablet() {
  .wrapper {
    width: 700px;
  }
}

@include mobile() {
  .wrapper {
    width: 350px;
  }
}



@import './discover/discover';
@import './trending/trending';
@import './creators/creators';
@import './categories/categories';
@import './discover__more/discover__more';
@import './mushrooms/mushrooms';
@import './howItWorks/howItWorks';
@import './weeklyDigest/weeklyDigest';
@import './footer/footer';


.author {
  width: 100px;
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }
}


.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: $btnHoverColor;
  z-index: 3;
  padding: 60px 25px;
  z-index: $ui-index-4;
  box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.634);
  opacity: 0;
  display: none;
  transition: all .5s ease;

  &__list {
    li {
      margin-bottom: 20px;
      font-size: 1.5rem;
      text-align: center;

      a {
        color: $textColor;
      }
    }
  }
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.407);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: $ui-index-3;
  opacity: 0;
  display: none;
  transition: all .5s ease;
}