.howItWorks {

  &__container {
    padding: 100px 0px;
  }

  &__title {
    @include h2__styles;
  }

  &__text {
    @include text__styles;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 60px;
  }

  .column {
    background-color: $cardBgColor;
    border-radius: $borderRadius;
    padding: 50px;
    width: 360px;
    height: 478px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    &__title {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 140%;
      margin: 20px;
    }

    &__text {
      font-size: 1rem;
      font-weight: 400;
      line-height: 140%;
    }
  }
}


@include desktop() {
  .howItWorks {
    &__row {
      justify-content: center;
    }

    .column {
      width: 330px;
      height: 478px;
      display: flex;
    }
  }
}

@include tablet() {
  .howItWorks {
    &__row {
      justify-content: center;
    }

    .column {
      width: 220px;
      height: 350px;
      display: flex;

      &__img {
        width: 100px;
      }

      &__title {
        font-size: 1rem;
        font-weight: 600;
      }

      &__text {
        font-size: .8rem;
        font-weight: 400;
        line-height: 140%;
      }
    }
  }
}

@include mobile() {
  .howItWorks {
    &__row {
      flex-direction: column;
      justify-content: center;
    }

    .column {
      width: 330px;
      height: 480px;
      display: flex;

      &__img {
        width: 200px;
      }

      &__title {
        font-size: 1.5rem;
        font-weight: 600;
      }

      &__text {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 140%;
      }
    }
  }
}