.discover__art {
  &__container {
    margin: 0 auto;
    width: 100%;
    padding: 130px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__infoBlock {
    width: 600px;

    &__title {
      font-size: 5rem;
      font-weight: 600;
      line-height: 110%;
    }

    &__text {
      letter-spacing: .1rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 160%;
      margin: 25px 0px;
      width: 90%;
    }

    &__button {
      @include button1(100px)
    }
  }

  &__advantages {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &__item {
      .num {
        font-family: 'Space Mono', monospace;
        font-size: 2rem;
        font-weight: 700;
        line-height: 140%;
      }

      .advantages {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 160%;
      }
    }
  }

  &__imgCard {
    z-index: $ui-index-1;

    &__info {
      background-color: $cardBgColor;
      padding: 30px;
      border-radius: $borderBottomRadius;
      width: 510px;
      bottom: -10;
      z-index: $ui-index-2;

      &__title {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 15px;

      }
    }
  }
}


@include desktop() {
  .discover__art {
    &__container {
      padding: 110px 0;
    }

    &__infoBlock {
      width: 350px;

      &__title {
        font-size: 3.5rem;
        line-height: 100%;
      }

      &__text {
        font-size: 1.2rem;
        line-height: 140%;
        margin: 20px 0px;
        width: 90%;
      }

      &__button {
        @include button1(90px)
      }
    }

    &__advantages {
      width: 80%;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      &__item {
        .num {
          font-family: 'Space Mono', monospace;
          font-size: 2rem;
          font-weight: 700;
          line-height: 140%;
        }

        .advantages {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 160%;
        }
      }
    }
  }
}

@include tablet() {
  .header {
    width: 700px;


  }
}

@include mobile() {
  .header {
    width: 375px;
  }
}