.discover__art {
  &__container {
    margin: 0 auto;
    width: 100%;
    padding: 130px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__infoBlock {
    width: 600px;

    &__title {
      font-size: 5rem;
      font-weight: 600;
      line-height: 110%;
    }

    &__text {
      letter-spacing: .1rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 160%;
      margin: 25px 0px;
      width: 90%;
    }

    &__button {
      @include button1(200px);
    }
  }

  &__advantages {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &__item {
      .num {
        font-family: 'Space Mono', monospace;
        font-size: 2rem;
        font-weight: 700;
        line-height: 140%;
      }

      .advantages {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 160%;
      }
    }
  }

  &__imgCard {
    z-index: $ui-index-1;

    &__info {
      background-color: $cardBgColor;
      padding: 30px;
      border-radius: $borderBottomRadius;
      width: 510px;
      bottom: -10;
      z-index: $ui-index-2;

      &__title {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 15px;

      }
    }
  }
}



@include desktop() {
  .discover__art {
    .imgCard__img {
      width: 400px;
      height: 350px;
    }

    &__imgCard__info {
      width: 400px;
    }

    &__infoBlock {
      &__title {
        font-size: 3.5rem;
      }

      &__text {
        font-size: 1.2rem;
      }

      &__button {
        @include button1(150px, 15px, .9rem);
      }
    }

    &__advantages {
      width: 350px;


      &__item {
        .num {
          font-size: 1.8rem;
        }

        .advantages {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@include tablet() {
  .discover__art {
    &__container {
      padding: 100px 0;
    }

    .imgCard__img {
      width: 350px;
      height: 300px;
    }

    &__imgCard__info {
      width: 350px;
    }

    &__infoBlock {
      width: 400px;

      &__button {
        @include button1(200px, 15px, .9rem);
      }

      &__title {
        font-size: 2.5rem;
      }

      &__text {
        font-size: 1rem;
        width: 300px;
      }
    }

    &__advantages {
      width: 300px;
      margin-top: 20px;

      &__item {
        .num {
          font-size: 1.4rem;
        }

        .advantages {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@include mobile() {
  .discover__art {
    &__container {
      flex-direction: column;
      padding: 70px 0;
    }

    .imgCard__img {
      margin-top: 30px;
      width: 350px;
      height: 300px;
    }

    &__imgCard__info {
      width: 350px;
    }

    &__infoBlock {
      width: 350px;


      &__text {
        width: 100%;
      }

      &__button {
        @include button1(100%);
      }
    }

  }
}